PORT=5190
LVT_WORK_DIR=C:\AI\LVT-Work
LVT_FFMPEG=E:\AI\Tools\ffmpeg-release-essentials\ffmpeg-9.0.1-essentials_build\bin\ffmpeg.exe
LVT_WHISPER_DEVICE=gpu
LVT_WHISPER_CPU_CMD=E:\AI\Tools\whisper-bin-x64\whisper-cli.exe
LVT_WHISPER_GPU_CMD=E:\AI\Tools\whisper-cublas-12.4.0-bin-x64\Release\whisper-cli.exe
LVT_WHISPER_MODEL=E:\AI\Models\ggml-large-v3-turbo.bin
LVT_PYTHON=C:\Users\User\Documents\ChatGPT\LVT\.venv\Scripts\python.exe
LVT_TTS_MODEL=E:\AI\Models\Silero\v5_5_ru.pt
